button {
  text-align: center;
  background-color: var(--white);
  color: var(--white);
  padding: 8px 12px;
  line-height: 1;
  cursor: pointer;
  border-radius: 4px;
  height: 40px;
  border: 0;
  font-size: 14px;
  min-width: 160px;
}
.btn-ghost {
  color: #000;
  border: 1px solid var(--grey);
}
.btn-primary {
  background-color: var(--purple);
}
